.container {
    position: relative;
    /* overflow-wrap: break-word; */
    display:inline-block; 
    min-width: 100px;
    max-width: 200px;
}

/* .page {
    height: 100%;
    padding: 10mm;
    margin: 4mm auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    display: block;
    box-sizing: border-box;
    background: white;
    page-break-after: always;
} */


.page {
    height: 100%;
    padding: 10mm;
    margin: 4mm auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    display: block;
    box-sizing: border-box;
    background: white;
    /* page-break-after: always; */
}

.page.letter {
    width: 8.5in;
    min-height: 11in;
}

.overlay-button {
    position: absolute;
    display:inline-block; 
    top: 0;     
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100px;
    width: 100%;
    border: 0.5px solid #1677ff; 
    border-radius: 4px;
    z-index: 10;
    margin: -4px;
    margin-top: -12px;
    color: #1677ff;
    background-color: #1677ff15;
    display: flex;
    align-items: start;
    font-size:smaller;
}

.overlay-span {
    height: 100%;
    box-sizing: border-box;
    display:inline-block; 
    border: 1px; 
    border-bottom-style: dashed; 
    min-width: 100px;
    width: 100%;
}

.preview-container {
    padding: 1in; 
    background-color: white;
    width: 8.5in; 
    height: 11in; 
    overflow-y: auto;
    border: 1px solid #ccc;
}

@media print {
    body {
        visibility: hidden;
    }
    .print-button {
        display: none;
    }

    .preview-container {
        visibility: visible;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
    }
}
